.cardspage {
    margin-top: 76px;
}
.content__title {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 0.09em;
    text-align: center;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.219);
}
.content__filter {
    margin-bottom: 30px;
    display: flex;
    gap: 18px;
}
.filter__item {
    border-radius: 4px;
    width: 135px;
    height: 23px;
    box-shadow: 2px 2px 2px 0 rgba(33, 33, 33, 0.1);
    background: $nav-color;
}
.filter__option {
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0 rgba(1, 28, 64, 0.2);
    background: $nav-color;
}
.content__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
    row-gap: 45px;
    column-gap: 34px;
}
.cards__item {
    padding: 6px 0 12px 26px;
    border-radius: 8px;
    width: 351px;
    background: $nav-color;
    box-shadow: 4px 4px 8px 0 rgba(1, 28, 64, 0.2);
}
.item__name {
    margin-bottom: 18px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: $main-dark-color;
}
.item__inf {
    display: flex;
    gap: 13px;
    margin-bottom: 12px;
}
.desc__number {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 6px;

    width: 36px;
    height: 36px;
    border: 3px $main-dark-color solid;
    border-radius: 100%;

    font-size: 15px;
    color: $main-dark-color;
}

.desc__name {
    font-size: 12px;
    text-align: center;
    color: $gray-color;
}

.item__subinf {
    display: flex;
    gap: 18px;
}
.subinf__gender {
    @include subinf;
}
.subinf__year {
    @include subinf;
    background: $subinf-color;
}
